use master
go
drop database asms
go
create database asms collate Romanian_CI_AI
go

use asms

create table paymentOrders
(
id int identity primary key,
nr int not null,
"date" date not null,
"state" int not null
)

create table areas
(
id int identity primary key,
name nvarchar(20)
);
create table localities
(
id int identity primary key,
name nvarchar(30) not null
);
create table districts
(
id int identity primary key,
name nvarchar(20),
code nvarchar(2),
areaId int references areas(id)
);

create table organizationForms
(
id int identity primary key,
name nvarchar(50),
abbreviation nvarchar(5)
);

create table farmers
(
id int identity primary key,
ftype int not null check(ftype in (1,2))
);

create table farmerVersions
(
id int identity primary key,
farmerId int references farmers(id),
startDate date not null,
endDate date
);

create table landowners
(
id int identity primary key,
farmerVersionId int references farmerVersions(id) not null,
firstName nvarchar(20) not null,
lastName nvarchar(20) not null,
fathersName nvarchar(20) not null,
dateOfBirth Date not null,
fiscalCode nvarchar(13) not null
);

create table organizations
(
id int identity primary key,
farmerVersionId int references farmerVersions(id) not null,
fiscalCode nvarchar(13) not null,
name nvarchar(200) not null,
RegDate Date,
RegNr nvarchar(20),
OrganizationFormId int,
activityType nvarchar(20)
);

create table addresses
(
id int identity primary key,
farmerId int references farmers(id) not null,
districtId int references districts(id),
localityId int references localities(id),
zip nvarchar(5),
street nvarchar(30),
house nvarchar(5),
apartment nvarchar(5),
startDate date not null,
endDate date
);

create table phones
(
id int identity primary key,
farmerId int references farmers(id) not null,
number nvarchar(15) not null,
type tinyint not null,
startDate date not null,
endDate date
);

create table emails
(
id int identity primary key,
farmerId int references farmers(id) not null,
address nvarchar(50) not null,
startDate date not null,
endDate date
);

create table users
(
id int identity primary key,
name nvarchar(20) unique not null,
password char(32) not null
);

create table roles
(
id int primary key,
name nvarchar(20) unique not null
);

create table usersroles
(
userId int foreign key references users(id),
roleId int foreign key references roles(id),
unique(userId, roleId)
);

create table perfecters
(
id int identity primary key,
name nvarchar(50)
);

create table states
(
id int primary key,
name nvarchar(20) not null unique
);

create table measures
(
id int identity primary key,
name nvarchar(30) not null unique,
description nvarchar(200),
nocontest bit not null default(0)
);

create table measuresets
(
id int identity primary key,
name nvarchar(30) not null,
"year" int not null,
stateId int not null default(1) references states(id),
dateActivated date,
dateDeactivated date
);

create table measuresetsmeasures
(
measuresetId int references measuresets(id),
measureId int references measures(id)
);

create table fields
(
id int identity primary key,
name nvarchar(max) not null,
description nvarchar(max)
);

create table fieldsetStates
(
id int primary key,
name nvarchar(16) unique not null
);

create table fieldsets
(
id int identity primary key,
name nvarchar(100) not null,
"year" int not null,
stateId int not null references fieldsetStates(id)
);

create table fieldsetsfields
(
fieldsetId int references fieldsets(id),
fieldId int references fields(id),
unique(fieldsetId, fieldId)
);

create table dossierStates
(
id int primary key,
name nvarchar(20) not null
);

create table fpis
(
id int identity primary key,
measuresetId int references measuresets(id),
measureId int references measures(id),
"month" int not null,
amount money not null,
amountm money not null,
"state" int not null,
unique(measuresetId, measureId, "month")
);


create table dossiers
(
id int identity primary key,
farmerVersionId int references farmerVersions(id),
adminFirstName nvarchar(20),
adminLastName nvarchar(20),
representativeFirstName nvarchar(20),
representativeLastName nvarchar(20),
friendPhone nvarchar(50),
proTraining bit,
speciality nvarchar(max),
diplomaIssuer nvarchar(max),
hasContract bit,
contractNumber nvarchar(max),
contractDate Date,
serviceProvider nvarchar(max),
consultantId int,
amountRequested money not null,
amountPayed money not null,
investmentValue money not null,
value money,
disqualified bit default(0) not null,
createdBy int, --references users(id),
createdDate Date,
measureId int references measures(id) not null,
perfecterId int references perfecters(id) not null,
fieldsetId int references fieldsets(id) not null,
stateId int references dossierStates(id) not null,
measuresetId int references measuresets(id) not null,
fpiId int references fpis(id),
code nvarchar(20),
districtId int references districts(id) not null,
localityId int references localities(id)
);

select * from dossiers
select * from fieldsets

create table fieldvalues 
(
dossierId int references dossiers(id),
fieldId int references fields(id),
value money,
unique(dossierId, fieldId)
);

create table indicators
(
id int identity primary key,
fieldsetId int references fieldsets(id),
name nvarchar(max) not null,
formula nvarchar(max) not null
);

create table indicatorvalues
(
dossierId int references dossiers(id),
indicatorId int references indicators(id),
value money not null,
unique(dossierId, indicatorId)
);

create table coefficients
(
id int identity primary key,
fieldsetId int references fieldsets(id),
name nvarchar(max) not null,
formula nvarchar(max) not null
);

create table coefficientvalues
(
dossierId int references dossiers(id),
coefficientId int references coefficients(id),
value money not null,
unique(dossierId, coefficientId)
);

create table disqualifiers
(
id int identity primary key,
dossierId int references dossiers(id),
reason nvarchar(max)
);

create table contracts
(
id int identity primary key,
date Date not null,
account char(15) not null,
bankcode varchar(10) not null,	
bankname nvarchar(100) not null,
dossierId int references dossiers(id) unique not null,
supportNr nvarchar(10) not null,
paymentOrderId int references paymentOrders(id)
);

create table agreements
(
id int identity primary key,
date Date not null,
amount money not null,
nr tinyint, 
contractId int references contracts(id) not null,
fpiId int references fpis(id) not null,
paymentOrderId int references paymentOrders(id)
);

/********************************* views ***************************/
go
create view farmerInfos
as
select f.id, fv.id as farmerVersionId, o.name + ' ' + orgf.abbreviation as name, o.fiscalCode, f.FType 
from farmers f 
inner join farmerVersions fv on f.id = fv.farmerid
inner join organizations o on o.farmerVersionId = fv.id
inner join organizationForms orgf on orgf.id = o.OrganizationFormId
where fv.enddate is null
union
select f.id, fv.id as farmerVersionId, l.FirstName +' '+ l.LastName + ' ' + l.FathersName as name, l.fiscalCode, f.FType 
from farmers f
inner join farmerVersions fv on fv.farmerid = f.id
inner join landowners l on l.farmerVersionId = fv.id
where fv.enddate is null;

go
create view farmerVersionInfos
as
select f.id as FarmerId, fv.id, o.name + ' ' + orgf.abbreviation as name, o.fiscalCode, f.FType 
from farmers f 
inner join farmerVersions fv on f.id = fv.farmerid
inner join organizations o on o.farmerVersionId = fv.id
inner join organizationForms orgf on orgf.id = o.OrganizationFormId
union
select f.id as FarmerId, fv.id, l.FirstName +' '+ l.LastName + ' ' + l.FathersName as name, l.fiscalCode, f.FType 
from farmers f
inner join farmerVersions fv on fv.farmerid = f.id
inner join landowners l on l.farmerVersionId = fv.id;



go
create view addressInfos
as
select a.*, d.name, l.name as district, d.code as DistrictCode from addresses a 
inner join districts d on a.districtId = d.id
inner join localities l on a.localityId = l.id;

go
create view organizationInfos
as
select o.*, orgf.abbreviation as OrganizationForm, fv.farmerId, fv.startDate, fv.endDate from organizations o 
inner join organizationForms orgf on o.OrganizationFormId = orgf.id
inner join farmerVersions fv on fv.id = o.farmerVersionId;

go
create view dossierInfos
as
select d.id, d.createdDate, fv.name, fv.fiscalCode, m.name as measure, d.stateId, d.disqualified, d.fpiId
from dossiers d inner join farmerVersionInfos fv on fv.id = d.farmerVersionId
inner join measures m on m.id = d.measureId;

go
create view landOwnerInfos
as
select lo.*, fv.startDate, fv.endDate, fv.farmerId from landowners lo
inner join farmerVersions fv on fv.id = lo.farmerVersionId;

go
create view competitors
as
select d.id, d.code, d.amountPayed, SUM(cv.value) value, fvi.name, d.fpiId, d.stateId, d.disqualified from dossiers d
left outer join coefficientvalues cv on d.id = cv.dossierId
inner join farmerVersionInfos fvi on fvi.id = d.farmerVersionId
group by d.id, fvi.name, d.fpiId, d.stateId, d.amountPayed, d.disqualified, d.code

go
create view FieldValueInfos
as
select f.name, fv.value, fv.dossierId, f.id from fieldvalues fv inner join fields f on fv.fieldId = f.id

go
create view IndicatorValueInfos
as
select i.name, iv.value, iv.dossierId, i.id from indicatorvalues iv inner join indicators i on iv.indicatorId = i.id

go
create view CoefficientValueInfos
as
select c.name, cv.value, cv.dossierId, c.id from coefficientvalues cv inner join coefficients c on cv.coefficientId = c.id



go
/********************************* data *******************************/
insert roles values(1, 'admin');
insert roles values(2, 'superuser');
insert roles values(3, 'user');

insert users(name, password) values('admin', 'R4WjQy44C9FByPhEOCav8pEFe1r1EEUS');
declare @id int;
set @id = @@identity;
insert usersroles values(@id, 1);
insert usersroles values(@id, 2);

go

insert dossierStates values(1, N'înregistrat');
insert dossierStates values(2, N'are_valori_câmpuri');
insert dossierStates values(3, 'are_indicatori');


insert fieldsetStates values(1, N'înregistrat');
insert fieldsetStates values(2, 'are_campuri');
insert fieldsetStates values(3, 'are_indicatori');


insert states values(1, 'înregistrat');
insert states values(2, 'activ');
insert states values(3, 'dezactivat');

insert areas(name) values('Nord');
insert areas(name) values('Centru');
insert areas(name) values('Sud');

insert districts(name, code) values(N'Bălți','BL');
insert districts(name, code) values(N'Briceni','BR');
insert districts(name, code) values(N'Dondușeni','DN');


insert perfecters(name) values('ACSA');
insert perfecters(name) values('AGROINFORM');
insert perfecters(name) values('UNIAGROPROTECT');


insert organizationForms(name, abbreviation) values(N'Cooperativa de producție', 'CP');
insert organizationForms(name, abbreviation) values(N'Cooperativa de întreprinzător', N'CÎ');
insert organizationForms(name, abbreviation) values(N'Gospodărie țărănească', N'GȚ');

--1
insert fields(name, description) values('Locuri de munca create aditional in urma investitiei', 'Daca se creaza: 0 locuri de munca - se indica valoare "0"; de la 1 pana la 5 locuri de munca - se indica valoarea "0.2"; de la 6 pana la 10 locuri de munca - se indica valoarea "0.3"; peste 10 locuri de munca - se indica valoarea "0.5"');
--2
insert fields(name, description) values('Valoare investitiei (in MDL)', 'Cifra respectiva se selecteaza din punctul 5 al business planului "Finantarea Proiectului Investitional", si reprezinta bugetul investitiei, cu TVA. Suma data se indica in MDL');
--3
insert fields(name, description) values('Venituri din vanzari (sau vanzari nete, in MDL)', 'Suma data o gasim in tabelul "Raportul privind rezultatele financiare" la rubrica "Total pentru I an"');
--4
--5
--6
--7
--8
--9
--10
--11
--12
--13
--14
--15
--16
--17
--18
--19
--20
--21
--22
--23
--24
--25


insert fieldsets(name, stateId, enddate) values('setul pe anul 2010', 5, '12/31/2010');
insert fieldsetsfields(fieldId, fieldsetId) values(1,1);
insert fieldsetsfields(fieldId, fieldsetId) values(2,1);
insert fieldsetsfields(fieldId, fieldsetId) values(3,1);


insert indicators(name,formula, fieldsetId) values('ind1','c1+c2', 1); 
insert indicators(name,formula, fieldsetId) values('ind2','c2+c3', 1);
insert indicators(name,formula, fieldsetId) values('ind3','c3', 1);

insert coefficients(name,formula,fieldsetId) values('coef1','i1+i2',1);
insert coefficients(name,formula,fieldsetId) values('coef2','i2+i3',1);
insert coefficients(name,formula,fieldsetId) values('coef3','i3',1);


insert measures(name,description) values('Masura 1','Stimularea creditarii producatorilor agricoli de catre bancile comerciale');
insert measures(name,description, nocontest) values('Masura 2','Stimularea mecanismului de asigurare in agricultura',1);
insert measures(name,description) values('Masura 3','Subventionarea investitiilor pentru plantatiile multianuale');



insert measuresets(name,"year",stateId) values('setul de masuri pe anul 2010', 2010, 2)
insert measuresetsmeasures(measureId, measuresetId) values(1, 1)
insert measuresetsmeasures(measureId, measuresetId) values(2, 1)
insert measuresetsmeasures(measureId, measuresetId) values(3, 1)

--reset
--update dossiers set stateId = 2 ,value = null
--delete from coefficientvalues
--delete from fpis



